.rotate-360 {
  transition: transform 0.5s ease-in-out;
  transform: rotate(360deg);
}

.glow {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(132, 0, 255, 0.26);
  }
  100% {
    box-shadow: 0 0 20px rgba(54, 16, 90, 0.26);
  }
}
